/* #region spaceHolders Display */
@media (min-width: 992px) {
  .spaceHolder {
    display: block;
  }
  .space {
    display: none;
  }
}
@media (max-width: 991px) {
  .spaceHolder {
    display: none;
  }
  .space {
    display: block;
  }
}

@media (max-width: 768px) {
  .col-2 {
    display: none; /* Hide blank columns on smaller screens */
  }
}
/* #endregion */

/* #region header */
.by {
  text-align: right;
}
/* #endregion */

/* #region calculator display design*/

/* #endregion */

/* #region calculator function*/

/* #endregion */

/* #region calculator buttons design*/

.columnOne,
.columnTwo,
.columnThree,
.columnFour,
.columnFive,
.columnSix,
.columnSeven {
  padding: 5px;
}

.displayRow {
  text-align: right;
  padding-bottom: 10px;
}

.displayBox {
  background: aliceblue;
  border-radius: 15px;
}

.calculatorBox {
  background-color: #e1afd1;
  /* margin:0px; */
  padding: 30px;
  border-radius: 30px;
}

.numBtn {
  color: rgb(43, 174, 226);
  text-align: center;
  /* padding: 20px; */
  width: 60px;
  height: 60px;
  border-radius: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}

p {
  text-align: center;
  align-content: center;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: black;
}
.calculatorContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Full viewport height */
}

/* #endregion */
