/* #region spaceHolders Display */
@media (min-width: 992px) {
  .spaceHolder {
    display: block;
  }
  .space {
    display: none;
  }
}
@media (max-width: 991px) {
  .spaceHolder {
    display: none;
  }
  .space {
    display: block;
  }
}

@media (max-width: 768px) {
  .col-2 {
    display: none; /* Hide blank columns on smaller screens */
  }
}
/* #endregion */

/* #region header */
body {
  font-family: "Exo 2", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

}

.headerRow {
  padding: 20px 0;
}
/* 
.by {
  text-align: right;
} */
/* #endregion */

/* #region calculator display design*/
.displayBox {
  background: aliceblue;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 40px;
  text-align: right;
  overflow: hidden;
}

.displayBox h1 {
  margin: 0px;
  font-size: 24px;
  line-height: 40px;
  padding-right: 10px;
}
.calculatorBox {
  background-color: #e1afd1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
/* #endregion */

/* #region calculator buttons design*/
.numBtn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.calculatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

/* ADJUST FONT FOR SMALLER SCREENS */
@media (max-width: 768px) {
  .displayBox h1 {
    font-size: 32px;
  }

  .numBtn {
    height: 50px;
    font-size: 19.2px;
  }

  /* LESS PADDING ON SMALLER SCREEN */
  .calculatorBox {
    padding: 15px;
  }
}

/* #endregion */
